.conteiner-logo {
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  color: #fff;
}
.logo {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.conteiner-logo:hover{
  color: #ababab;
  transition: all 0.3s ease;
}