footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 4rem;
    background-color: #223d74;
}
.conteiner-cols-footer{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 8% 0 8%;
}
.col-1-footer{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.col-2-footer{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.col-3-footer{
    color: #fff;
}
.conteiner-links-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.link-footer{
    color: #fff;
    list-style: none;
    width: max-content;
    height: min-content;
}
.info-contacto-footer{
    color: #fff;
    padding: 0;
}
.conteiner-redes-footer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0 0 1rem;
}
.link-portafolio-ma{
    color: #00FF2F;
}
.link-footer:hover{
    color: #ababab;
    transition: all 0.3s ease;
}
.link-portafolio-ma:hover{
    color: #50a760;
    transition: all 0.3s ease;
}

@media (min-width:280px) and (max-width:630px){
    footer{
        padding: 4rem 0 1.2rem 0;
    }
    .conteiner-cols-footer{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
     .col-2-footer{
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 2rem;
     }
     .conteiner-links-footer{
        padding: 0;
        margin: 0;
     }
     .link-footer{
        width: min-content;
     }
    .info-contacto-footer{
        display: flex;
        padding: 0;
    }
    .conteiner-cols-footer .col-1-footer:nth-of-type(1){
        order: 3;
    }
    .conteiner-cols-footer .col-2-footer:nth-of-type(1){
        order: 3;
    }
    .col-1-footer .conteiner-redes-footer:nth-of-type(2){
        order: 1;
    }
    .col-1-footer .conteiner-logo-footer:nth-of-type(1){
        order: 2;
    }    
}
@media (min-width:630px) and (max-width:768px){
    footer{
        padding: 4rem 0 0.5rem 0;
    }
    .conteiner-cols-footer{
        justify-content: center;
        gap: 1.5rem;
        padding: 0%;
    }
    .col-2-footer{
        gap: 1rem;
    }
    .conteiner-links-footer{
        padding: 0;
        margin: 0;
    } 
    .link-footer{
        width: fit-content;
    }
    .info-contacto-footer{
        display: flex;
        padding: 0;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .col-2-footer{
        gap: 3rem;
    }
    .conteiner-links-footer{
        padding: 0;
        margin: 0;
    }
}