header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10% 0.5rem 9%;
  position: fixed;
  z-index: 100000;
}
@media (max-width: 768px) {
  header {
    justify-content: center;
    padding: 1rem 0;
  }
  .visible{
    display: flex;
  }
  .hidden{
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 1rem 2rem;
  }
}