.properties{
  width: 80%;
}
.title-properties-section {
  padding-bottom: 3.5rem;
}
.conteiner-all-props {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  row-gap: 3rem;
}
@media (min-width: 280px) and (max-width: 500px) {
  .properties{
    width: 85%;
  }
  .conteiner-all-props {
    justify-content: center;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .properties{
    width: 85%;
  }
  .conteiner-all-props {
    justify-content: space-between center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .properties{
    width: 85%;
  }
  .conteiner-all-props {
    width: 100%;
  }
}