.nav-bar{
  display: flex;
  gap: 3.5rem;
}
.link-header {
  color: #fff;
}
.link-header:hover {
  color: #ababab;
  transition: all 0.3s ease;
}
@media (max-width: 768px){
  .nav-bar{
    display: none;
  }
  .nav-bar.active {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: absolute;
    top: 8rem;
    padding: 3rem;
    background-color: rgb(34, 61, 116);
  }
}