@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/properties-fav.css");
@import url("./styles/about.css");
@import url("./styles/properties.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10000 ;
    flex-direction: column;
    place-items: center;
    gap: 4rem;
}
h1, h2, h3, h4, h5, h6{
    width: fit-content;
    height: min-content;
}
a{
    text-decoration: none;
    height: min-content;
    width: max-content;
}
section{
    scroll-margin-top: 6.5rem;
}
.background-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: -10000;
    filter: brightness(0.5) blur(1.5px);
    object-fit: cover;
    top: 0;
}
@media (max-width:768px){

}
@media (min-width:769px) and (max-width:1024px){

}